{{!-- Esta plantilla estará mostrando el componente spinner de Bootstrap, pero la variante de
color será un parámetro “color” enviado desde el render en el servidor. --}}

<div class="spinner">
    <div class="spinner-border text-{{color}}" style="width: 15rem;
                height: 15rem;">
    </div>
</div>